@font-face {
    font-family: ogg;
    src: url(ogg.ttf);
}


.uppercase {
    text-transform: uppercase;
  }

h1 {
    color: darkgrey;
    font-family: 'ogg', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    padding-top: 1000px;
    margin: 0;
    padding: 0;
    height: 500px;
    line-height: 1em;


}

p2 {
    color: darkgrey;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    width: 50%

}

h2 {
    color: darkgrey;
    font-family: 'ogg', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h3 {
    color: darkgrey;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
}


p {
    color: darkgrey;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5em;
    margin-right: 600px;


}

ul {
    color: darkgrey;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
}

body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #000000, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #000000, #141E30);
    margin: 0;
    padding: 0;
  }

  .content {
    padding: 40px;
  }

  hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px darkgrey;
}
  