* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* header */
header {
    display: block;
}

.site-header {
    height: 130px;
    width: 100%;
    color: rgb (5,5,5);
    display: block;
    box-sizing: border-box;
    position: fixed;

}

.site-text-container {
    margin: 20px 50px;
    width: 80%;
    opacity: 1;
}

.site-text {
    color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5em;
}

.site-subtext {
    color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5em;
}

.site-footer{
    height: 100px;
    width: 100%;
    color: rgb (5,5,5);
    display: block;
    box-sizing: border-box; 
}

.footer-text-container{
    display: block;
    margin: 50px 50px;
    width: 80%;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-family: 'oroban-elegans', serif;
    font-weight: 100;
    font-size: 90px;
    margin: 50px;
    line-height: 0.9em;
}


/* arrow */
.scroll-arrow{
    display:inline-block;
    margin-top: 10px;
    height:10rem;
    stroke-width:3;
    width:2.4rem
}

.arrow-line{
stroke-dasharray:90px;
stroke-dashoffset:90px;
transition:all .5s ease
}
.arrow-left{
stroke-dasharray:10px;
stroke-dashoffset:10px;
transition:all .8s ease
}
.arrow-right{
stroke-dasharray:10px;
stroke-dashoffset:10px;
transition:all 1.8s ease
}



/* petals animation */
.petals1{
    display: block;
    width:100%;
    position: fixed;
    z-index: 1;
    top:0;
}

.petals2{
    display: block;
    align-items: center;
    justify-content: center;
    width:100%;
    position: fixed;
    z-index: 0;
    top:0;
}

.img {
    width: 3%;
    height: 300px;
    animation: petal1 13s ease-in-out alternate infinite;
    }

img {
    width: 100%;
    }

@keyframes petal1 {
    0% {
        transform: rotate(90deg) scale(1);
        }

    100% {
        transform: rotate(45deg) scale(1.5);
        }
    }


.img2 {
        width: 3%;
        height: 600px;
        animation: petal2 16s ease-in-out alternate-reverse infinite;
    }
       
@keyframes petal2 {
        0% {
            transform: skew(0deg, 0deg) rotate(90deg) scale(1.2);
            }

        100% {
            transform: skew(70deg, 0deg) rotate(-10deg) scale(0.5);
            }
    }


.img3 {
        width: 3%;
        height: 600px;
        animation: petal3 11s ease-in-out alternate infinite;
    }
      
@keyframes petal3 {
        0% {
            transform:  rotate(40deg) scale(1);
            }

        100% {
            transform: rotate(30deg) scale(0.5);
            }
    }

.img4 {
    width: 2%;
    height: 600px;
    animation: petal1 16s ease-in-out alternate-reverse infinite;
    }

@keyframes petal1 {
    0% {
        transform: rotate(90deg) scale(1);
        }

    100% {
        transform: rotate(45deg) scale(1.5);
        }
}

@font-face {
    font-family: oroban-elegans;
    src: url(fonts/Oroban-Elegans.otf);
}

.poem-title{
    color:white;
    font-family: 'oroban-elegans', serif;
    font-weight: 100;
    font-size: 90px;
    padding: 400px 50px 20px 50px;
    line-height: 0.9em;
}

/* grid */
.grid-container{
    display:grid;
    align-items: flex-start;
    grid-template: repeat(25, 1fr) / repeat (6, minmax(1fr, 1fr));
    grid-gap: 20px 5px;
    margin: 50px 50px;
    z-index: 2;
    position: relative;

}

.poem{
    color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2em;
}

.poem1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.poem2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

.poem3{
    grid-column-start: 2;
    grid-column-end: 3;    
    grid-row-start: 4;
}

.poem4{
    grid-column-start: 3;
    grid-column-end: 4;    
    grid-row-start: 5;
}

.poem5{
    grid-column-start: 2;
    grid-column-end: 3;    
    grid-row-start: 6;
}

.poem6{
    grid-column-start: 1;
    grid-column-end: 2;    
    grid-row-start: 7;
}

.poem7{
    grid-column-start: 3;
    grid-column-end: 4;    
    grid-row-start: 8;
}

.poem8{
    grid-column-start: 2;
    grid-column-end: 3;    
    grid-row-start: 9;
}

.poem8-1{
    grid-column-start: 3;
    grid-column-end: 4;    
    grid-row-start: 10;
}

.poem9{
    grid-column-start: 1;
    grid-column-end: 2;    
    grid-row-start: 12;
}

.poem10{
    grid-column-start: 3;
    grid-column-end: 4;    
    grid-row-start: 13;
}

.poem11{
    grid-column-start: 4;
    grid-column-end: 5;    
    grid-row-start: 14;
}

.poem12{
    grid-column-start: 5;
    grid-column-end: 6;    
    grid-row-start: 15;
}

.poem13{
    grid-column-start: 1;
    grid-column-end: 2;    
    grid-row-start: 17;
}

.poem14{
    grid-column-start: 2;
    grid-column-end: 3;    
    grid-row-start: 18;
}

.poem15{
    grid-column-start: 1;
    grid-column-end: 2;    
    grid-row-start: 19;
}

.poem16{
    grid-column-start: 3;
    grid-column-end: 4;    
    grid-row-start: 20;
}

.poem16-1{
    grid-column-start: 2;
    grid-column-end: 3;    
    grid-row-start: 21;
}

.poem17{
    grid-column-start: 1;
    grid-column-end: 2;    
    grid-row-start: 22;
}

.poem18{
    grid-column-start: 3;
    grid-column-end: 4;    
    grid-row-start: 23;
}

.poem19{
    grid-column-start: 2;
    grid-column-end: 3;    
    grid-row-start: 24;
}

.poem20{
    grid-column-start: 1;
    grid-column-end: 3;    
    grid-row-start: 25;
}